* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #0d0d0d; /* Черный фон */
    color: #f5f5f5; /* Светло-серый текст */
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffcc00; /* Золотистый цвет */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1); /* Легкая тень */
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

#about ul {
    list-style-type: none;
    padding-left: 0;
}

#about ul li {
    font-size: 1.2em;
    color: #dcdcdc; /* Золотистый цвет текста */
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

#about ul li::before {
    content: "•"; /* Значок перед текстом */
    position: absolute;
    left: 0;
    color: #ffcc00;
    font-size: 1.2em;
    line-height: 1.2;
}

#subjects {
    margin-top: 30px;
    padding-bottom: 20px;
    margin-left: 20px;
}

#subjects h2 {
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#subjects article {
    margin-bottom: 30px;
    padding: 10px 0;
}

#subjects h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #dcdcdc;
    text-align: left;
    padding-left: 10px;
    border-left: 4px solid #ffcc00; /* Линия слева */
}

p {
    font-size: 1em;
    margin-bottom: 1rem;
    color: #dcdcdc;
}

header {
    background-color: #1a1a1a; /* Темно-серый фон */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #ffcc00; /* Яркий золотой цвет ссылок */
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    color: #ffffff; /* Белый цвет при наведении */
}

main {
    padding: 20px;
}

aside {
    background-color: #2a2a2a; /* Серый блок для выделения */
    padding: 20px;
    border-radius: 8px;
}

#success {
    margin-top: 40px;
    background-color: #1a1a1a;
    padding: 20px;
}

#success blockquote {
    font-style: italic;
    padding: 10px;
    border-left: 4px solid #ffcc00; /* Золотая линия */
    margin-bottom: 20px;
}

#success pre {
    font-family: 'Courier New', monospace;
    background-color: #2a2a2a; /* Темно-серый */
    color: #ffcc00; /* Золотой текст */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#success ol {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: achievement-counter;
}

#success ol li {
    font-size: 1.2em;
    color: #dcdcdc; /* Светлый текст */
    margin-bottom: 15px;
    position: relative;
    line-height: 1.6;
    counter-increment: achievement-counter;
}

#success ol li::before {
    content: counter(achievement-counter) ". ";
    left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffcc00; /* Золотистый цвет для номеров */
}

form {
    margin-top: 20px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    font-size: 1em;
    background-color: #1a1a1a; /* Темный фон формы */
    color: #f5f5f5;
}

form input:focus, form textarea:focus {
    border-color: #ffcc00; /* Золотая подсветка при фокусе */
    outline: none;
}

form button {
    background-color: #ffcc00; /* Золотая кнопка */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

form button:hover {
    background-color: #e6b800; /* Более темный оттенок золота при наведении */
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #1a1a1a; /* Темный фон */
    color: #dcdcdc; /* Светлый текст */
    text-align: center;
}

#contact {
    background-color: #1a1a1a; /* Темный фон */
    color: #dcdcdc; /* Светлый текст */
    text-align: center;
}

footer h2 {
    font-size: 1.8em;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.about-content p {
    flex: 2;
    max-width: 500px;
    font-size: 1.2em;
    line-height: 1.8;
    color: #dcdcdc;
    word-wrap: break-word;
    text-align: justify;
}

/* Стили для изображения */
.about-content img {
    flex: 1;
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.fixed-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.fixed-nav li {
    margin: 0 15px;
}
.fixed-nav a {
    color: #ffcc00;
    text-decoration: none;
}
.fixed-nav a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .about-content img {
        max-width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 500px) {
    header nav ul li a {
        font-size: 1em;
    }
    .about-content img {
        display: none;
    }
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }
    .fixed-nav ul li:nth-child(5) {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .fixed-nav ul li:nth-child(4) {
        display: none;
    }
    #price {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .fixed-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .fixed-nav a {
        padding: 5px 10px;
        font-size: 0.9em;
    }
    .fixed-nav ul li:nth-child(4) {
        display: contents;
    }
    .fixed-nav ul li:nth-child(5) {
        display: contents;
    }
    body {
        font-size: 0.75em;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 0.85em;
    }
}

#price {
    margin: 20px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 600px;
}

#price h2 {
    text-align: center;
    font-size: 1.8em;
    color: #ffcc00;
    margin-bottom: 20px;
}

.table {
    display: grid;
    grid-template-rows: auto;
}

.table-row {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}

.cell {
    text-align: center;
    padding: 10px;
    border: 1px solid #0d0d0d;
    font-size: 1em;
    color: #dcdcdc;
    background-color: #2a2a2a;
}

.table-row:nth-child(even) .cell {
    background-color: #3a3a3a;
}

.header .cell-header{
    background-color: #ffcc00 !important;
    color: black;
    font-weight: bold;
}

.cell:nth-child(1){
    background-color: #ffcc00 !important;
    color: black;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #ffcc00;
    padding: 10px;
    display: block;
}

/* Стиль активной ссылки */
.menu a.active {
    font-weight: bold;
    color: black;
    background-color: #ffcc00;
    border-radius: 5px;
}

/* Стиль для элементов меню при наведении */
.menu li.hovered {
    background-color: lightgray;
    transition: background-color 0.3s ease;
}


#subjects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

/* Стили для опций */
.subject-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffcc00;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 8px;
    transition: all 0.3s ease;
    color: black;
}

/* Скрываем стандартный checkbox */
.subject-option input[type="checkbox"] {
    display: none;
}

/* Псевдоэлемент для отображения кастомного чекбокса */
.subject-option input[type="checkbox"] + span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #888;
    border-radius: 4px;
    background-color: black;
    margin-right: 8px;
    transition: all 0.3s ease;
}

/* Состояние при наведении */
.subject-option:hover {
    background-color: #eaeaea;
    border-color: #aaa;
}

/* Состояние активного чекбокса */
.subject-option input[type="checkbox"]:checked + span::before {
    background-color: black;
    border-color: black;
    content: '✔';
    color: #ffcc00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#preloader {
    display: none;
    text-align: center;
    margin: 20px 0;
}
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#comments {
    margin-top: 20px;
}
.comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.error {
    color: red;
    font-weight: bold;
}